*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}

.header{
    background: red;
    background-image:
    linear-gradient(to left bottom,rgba(23, 177, 23, 0.7), rgb(230, 255, 230, 0.7)),/*buraya geçişli bir renk tanımlıyoruz ve sonuna opacity değeri veririz.
            "to left bottom" ile de renk geçişiniin yönünü beliirlemiş olduk.*/ url(../Gun28/css-gallery4.jpg);
    
            /*height: 500px;_______________header içinde bulunan elementin yüksekliğine göre yer kaplar*/
    height: 95vh;/*tarayıcının görünen kısmına viport denir ve bu şeklde viportun %95 lik kısmını
    arka plaa yada resme vermiş olduk.*/
    background-size: cover;/*resmin orjinalliğinibozmadan belirtilen alana sığmasını sağladık.*/
    background-position: top;/*Resmi kücültse yani krop olayı gerçeklesse bile resim üst koşeden sabit kalır kırpma sağ sol ve asağıdan yapılır.*/
    clip-path:polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    position: relative;
}
.yazılar{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
.yazı_1{
    display: block;
    font-size: 50px;
    letter-spacing: 10px;/*Harfler arasındaki boşluğu ayaradık.*/
}
.yazı_2{
    display: block;
    font-size: 20px;
    letter-spacing: 3px;
}.logo-box{
    position: absolute;
    bottom:350px;
    left: 850px;

}
.logo{
    height: 100px;/*resmin sadece yüksekliğini verdik ki orjinali buna göre ayarlansın.resmimiz bozulmasın.*/
    border-radius:20%;
}